{% extends "learning_logs/base.html"%}

{% block content %}

    <style>
        .topics{
            font-size: 16px;
            font-family: 'Segoe UI';
            font-weight: bold;
        }
    </style>

    <ul class="topics">
        {% for topic in topics %}
            <li>
                <a href="{% url 'topic' topic.id %}">{{ topic }}</a>
            </li>
        {% empty %}
            <li> Topics IsEmpty </li>
        {% endfor %}
    </ul>

    <a href="{% url 'new_topic'%}"> Adicionar Tópico </a>
{% endblock content %}